In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2021-03-04 05:25:26,64.3833,-173.3000,1.40,71,0,17.90
1,1,Lumeje,AO,2021-03-04 05:26:39,-11.5500,20.7833,64.67,87,80,2.51
2,2,Fairbanks,US,2021-03-04 05:23:55,64.8378,-147.7164,-0.99,77,90,2.46
3,3,Hermanus,ZA,2021-03-04 05:26:42,-34.4187,19.2345,64.99,95,84,8.93
4,4,Rikitea,PF,2021-03-04 05:26:43,-23.1203,-134.9692,80.58,80,64,7.58

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. >> need to add this because temps are below 0F and Maps can't handle
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    #This converts temps less than 0F

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
###Alt way to run without the for loop
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#Zoom in and center
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of % humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
humidity = city_data_df["Humidity"]

#Zoom in and center
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of % cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
cloud = city_data_df["Cloudiness"]

#Zoom in and center
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
wind = city_data_df["Wind Speed"]

#Zoom in and center
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
# Checks the Max Temp column and makes sure it fits the user input & drop out anything with missing data
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2021-03-04 05:26:43,-23.1203,-134.9692,80.58,80,64,7.58
8,8,Sao Joao Da Barra,BR,2021-03-04 05:26:45,-21.6403,-41.0511,75.76,90,100,14.29
20,20,Lekoni,GA,2021-03-04 05:26:55,-1.5843,14.2591,76.41,77,81,7.63
21,21,Ambilobe,MG,2021-03-04 05:22:03,-13.2000,49.0500,80.89,84,35,0.31
23,23,Kavieng,PG,2021-03-04 05:23:10,-2.5744,150.7967,83.64,72,63,11.14
25,25,Gizo,SB,2021-03-04 05:27:00,-8.1030,156.8419,84.92,72,94,19.33
33,33,Butaritari,KI,2021-03-04 05:27:07,3.0707,172.7902,81.57,81,29,18.79
34,34,Geraldton,AU,2021-03-04 05:26:27,-28.7667,114.6000,82.40,57,90,17.27
35,35,Kirakira,SB,2021-03-04 05:27:09,-10.4544,161.9205,80.22,84,99,11.99
37,37,Puerto Ayora,EC,2021-03-04 05:24:37,-0.7393,-90.3518,75.99,95,87,1.57

In [13]:
preferred_cities_df.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
4             Rikitea      PF     80.58 -23.1203 -134.9692
8   Sao Joao Da Barra      BR     75.76 -21.6403  -41.0511
20             Lekoni      GA     76.41  -1.5843   14.2591
21           Ambilobe      MG     80.89 -13.2000   49.0500
23            Kavieng      PG     83.64  -2.5744  150.7967
25               Gizo      SB     84.92  -8.1030  156.8419
33         Butaritari      KI     81.57   3.0707  172.7902
34          Geraldton      AU     82.40 -28.7667  114.6000
35           Kirakira      SB     80.22 -10.4544  161.9205
37       Puerto Ayora      EC     75.99  -0.7393  -90.3518

In [15]:
# Set parameters to search for a hotel within 5000m of specific coordinates.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Rikitea,PF,80.58,-23.1203,-134.9692,Pension Maro'i
8,Sao Joao Da Barra,BR,75.76,-21.6403,-41.0511,Pousada Porto De Canoas
20,Lekoni,GA,76.41,-1.5843,14.2591,Rendez-vous Des ChasseursD
21,Ambilobe,MG,80.89,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
23,Kavieng,PG,83.64,-2.5744,150.7967,Nusa Island Retreat
25,Gizo,SB,84.92,-8.1030,156.8419,Imagination Island
33,Butaritari,KI,81.57,3.0707,172.7902,Isles Sunset Lodge
34,Geraldton,AU,82.40,-28.7667,114.6000,Broadwater Mariner Resort
35,Kirakira,SB,80.22,-10.4544,161.9205,SanBiz Lodge
37,Puerto Ayora,EC,75.99,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [24]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>

</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))